<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

</head>


<body>
<div id="root"> </div>
  <script type="text/babel">

        var name="Pondit"


        var buttonStyle ={
          padding:'10px',
          width:'100px',
          backgroundColor:'green',
          fontSize:'20px',
        };
        var divStyle = {
         
          // backgroundImage: 'url('react-512.png')',
              color: 'white',
              backgroundColor: 'red',
              width: '1000px',
              height: '1000px',
              margin: '20px auto',
              paddingTop: '20px',
              textAlign: 'center',
              };

       const element2 = <div style={divStyle} className="container">

        <div style={{color: '', fontSize: '80px'}} >Hello {name}..!</div>

        <img src="react-512.png"/>
        <p style={{fontSize:'50px'}}> I'm React </p>
        <button style={buttonStyle} > Click </button>
        
        
        
        
        </div>; 

ReactDOM.render(
  element2,

document.getElementById('root'));



</script>
</body>
</html>

